<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="All Tasks" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/all-tasks">
    <ion-nav-view name="tab-all-tasks"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Add a task" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/add-task">
    <ion-nav-view name="tab-add-task"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Browse the Code" icon-off="ion-social-github-outline" icon-on="ion-social-github" href="#/tab/source-code">
    <ion-nav-view name="tab-source-code"></ion-nav-view>
  </ion-tab>
</ion-tabs>
